:root {
    --col1: #103ce7;
    --col2: #64e9ff;
    --col3: #ffffff;
    --col4: #a7a7a7;
    --grad1: linear-gradient(90deg, var(--col1) 20%, var(--col2) 100%);
    --grad2: linear-gradient(60deg, var(--col1) 60%, var(--col2) 100%);
    --grad3: linear-gradient(180deg, var(--col1) 0%, var(--col2) 100%);
    --font1: 'Libre Franklin', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Rubik', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #a7a7a7;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--col1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--col2);
  }